$grey: hsl(6, 0%, 18%);
$greyshadow:hsl(0, 2%, 23%);
$black: hsl(0, 0%, 0%);
$gojekGreen:hsl(149, 75%, 43%);
$heavenWhite:hsl(0, 100%, 100%);
$passionfruitRed:hsl(0, 55%, 47%);
$backgroundColor:hsl(223, 46%, 9%);
$blackhue: hsla(0, 0%, 0%, 0.3);
$lightgrey: hsl(281, 3%, 83%);
$lighttexthue:hsl(281, 3%, 25%);
$teal:hsl(184, 100%, 78%);
$tealfont:hsl(196, 56%, 86%);
$navyblue: hsl(206, 100%, 15%);
$ultraLightGrey:hsl(0, 3%, 69%);